@model List<ThuongMaiDienTu.Models.SanPham>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
<a href="/SanPham/Create" class="btn btn-primary btn-sm">Thêm</a>

<div class="container mt-4">
    <h3 class="mb-3">Danh Sách Sản Phẩm</h3>
    @await Html.PartialAsync("_SanPhamPartial", Model)
</div>
